
@{
    ViewBag.Title = "Cer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Ortodonti Ünitesi
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Service/Cer">Çene Eklemi Rahatsızlıkları</a></p>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-12">

    <div>
        <br />
        <h1 style="color:red; text-align:center">Çene Eklemi Rahatsızlıkları</h1>
        <br />
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">
                    Çene eklemi rahatsızlıklarının nedenleri nelerdir?
                </strong>


            </h3>
            <br />



            <h5><strong>1 -) Diş hekimi tedavilerine bağlı olarak:</strong></h5><br />
            <ul class="list-group list-group-flush">

                <li class="list-group-item">- 20 yaş çekimi gibi ağzın uzun süre açık kalması,</li>
                <li class="list-group-item">- Ortodontik tedavisi sonrası,</li>
                <li class="list-group-item">- Doğru yapılmamış kaplamalar ve dolgular.</li>
            </ul>
            <hr />

            <h5><strong>2 -) Kişinin alışkanlıkları:</strong></h5><br />
            <ul class="list-group list-group-flush">

                <li class="list-group-item">- Dudak yeme,</li>
                <li class="list-group-item">- Yüz üstü yatma,</li>
                <li class="list-group-item">- Elini çeneye dayamak,</li>
                <li class="list-group-item">- Uzun süre sakız çiğnemek,</li>
                <li class="list-group-item">- Uzun süre rüzgara maruz kalmak, (özellikle motor kullananlar için)</li>
                <li class="list-group-item">- Kambur durma.</li>
            </ul>
            <hr />
            <h5><strong>3 -) Kişinin stres altında bulunması:</strong></h5>
            <br />
            <p>
                <strong>
                    Diğer etkenlere göre daha fazla çene eklemi şikayetine neden olmaktadır. Yoğun stres altında bulunan kişi sürekli yüz kaslarını kastığı için çene eklemine normalden daha fazla yük biner.

                </strong>
            </p>
            <hr />









        </div>
    </div>
    <div class="col-lg-6">

        <h3>
            <strong style="color:black">
                Çene Eklemi Rahatsızlığı Neden Tedavi Edilmelidir?
            </strong>
        </h3>
        <br />

        <div>
            <p>
                Çene eklemi rahatsızlığının ileri evrelerinde eklem bölgesindeki dokular ve yapılarda kalıcı deformasyonlar ortaya çıkar ve çene açıp kapama hareketinde eklem başı olması gereken yerden daha öne gelerek çene yerinden çıkabilir. Buradaki esas problem çenenin yerinden çıkması değildir. Çünkü ekleme basit hareketler yaptırılarak çene kendiliğinden yerine oturur fakat esas problem bu durumum zamana bağlı olarak sık sık gerçekleşmesi ve şiddetli ağrıların olmasıdır.
            </p>
        </div>


    </div>
    <br /><br />
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">

                    Çene eklemi rahatsızlığım olduğunu nasıl anlayacağım?
                </strong>
            </h3>
            <br />
            <div>
                <p>
                    Çene eklem rahatsızlığının birçok belirtisi olabilmektedir. Bunlar açma kapamada klik sesinden, çenenin kitlenmesi veya ağrılı duruma kadar değişebilir. Çenenizde size göre herhangi bir farklılık hissettiğinizde hekiminize başvurun. Çünkü hastalığın evresi tedavi açısından önemlidir.

                </p>

            </div>

            <br />

        </div>
    </div>
    

    
    <div class="col-lg-12">
        <div>
            <h2 style="text-align:center; color:red">Temporomandibuler (Çene Eklem) Tedavisi Nasıl Yapılır?</h2>            <br />


        </div>

        <div>
            <h4><strong>Koruyucu Ortodontik Tedavi </strong>  </h4>
            <br />

            <p>
                Tedavi de amaç diğer tedavilerde de olduğu gibi fonksiyonları normale kazandırmaktır. Bu tedavide de çene fonksiyonlarını geri normal düzene getirmektir. Tedavi planlanması hastalığın nedenine göre ayarlanır. Sağlıklı bir sonuç alınmak isteniyorsa tanının doğru konulması ve tedavinin doğru yapılması gerekir. Diş sıkma veya dişleri gıcırdatma gibi problemleri olan hastalarda gece plağı uygulanabilir. İlaç tedavileri ve çene kaslarına uygun fizik tedaviler ile tedavi planlanması yapılabilir. Ağrı çok fazla oluşuyorsa eklem içinin yıkanması ağrıyı azaltacaktır. Eğer çenede travma veya tümör gibi durumlar söz konusu ise cerrahi işlemler uygulanabilir. Şikayetleriniz varsa uzman bir diş hekimine muayene olmayı aksatmayınız. Tedaviniz de gerekli ise kbb doktorları, fizik tedavi bölümü ve diş hekimleri ortak payda da çalışıp tedavi planlayabilirler.
            </p>
            <br />

        </div>

    </div>




</div>
