
@{
    ViewBag.Title = "Endodonti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Endodonti / Kanal Tedavisi
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Service/Endodonti">Endodonti</a></p>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-12">

    <div>
        <br />
        <h1 style="color:red; text-align:center">Endodonti</h1>
        <br />
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">
                    Endodonti/Kanal tedavisi nedir?
                </strong>


            </h3>
            <br />

            <ul class="list-group list-group-flush">

                <li class="list-group-item">Kanal tedavisi, ölü, ölmekte olan ya da iltihaplı bir diş pulpasını (halk arasında yaygın olarak ‘sinir’ olarak bilinir) tedavi etmek için kullanılan yöntemlerin genel adıdır. Ana amacı sorunlu bölgeyi eski formuna kavuşturarak tekrar fonksiyonel hale getirmektir.</li>
                <li class="list-group-item"> Endodontoloji veya endodonti, kanal tedavisi sanatı ve bilimidir. Endodonti, ana bilim dalı olarak birçok üniversitemizde lisans ve lisansüstü düzeyinde okutulmaktadır.</li>
                <li class="list-group-item">Bir diş pulpası ağız veya dişe gelen bir darbe, derin diş çürümesi, çok derin bir dolguya tepkime, dişte çatlak veya bölünme gibi sebeplerle iltihaplandığında veya nekrotik hale geldiğinde, endodontik tedavi gerekir. Zira nekrotik veya ölü sinirin varlığı bir apse oluşumuna yol açar. </li>
                <li class="list-group-item">Endodontik sorunlar sıklıkla ağrı ve şişlik ile birlikte akut bir fazda ortaya çıkar; ancak birçok durumda hasta semptomsuzdur ve rutin bir röntgen veya radyolojik görüntüleme yoluyla bir endodontik problemin varlığı net olarak teşhis edilir. </li>
            </ul>
            <hr />

        </div>




    </div>
    <div class="col-lg-6">

        <h3>
            <strong style="color:black">
                Kanal Tedavisi Ne zaman Gerekir?
            </strong>
        </h3>
        <br />

        <div>
            <p>
                Kök kanal tedavisi, dişin en iç tabakası olan pulpa (sinir damar paketi) tabakasının travma, enfeksiyon, çok ilerlemiş derin çürük gibi nedenlerle zarar görmesi sebebiyle uygulanır. Hastalar çoğu zaman şiddetli ağrı ile diş doktorlarına başvururlar.
            </p>
        </div>


    </div>
    <br /><br />
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">

                    Kanal Tedavisi Ağrılı Bir İşlem Midir?
                </strong>
            </h3>
            <br />
            <div>
                <p>
                    Kök kanal tedavisi ağrılı bir tedavi değildir. Kullanılan lokal anestezikler ve güncel ve modern anestezi teknikleri sayesinde hastalarımızın tedavileri ağrısız ve son derece konforlu bir şekilde sonlandırılır.

                </p>

            </div>

            <br />

        </div>
    </div>





    <div class="col-lg-12">
        <div>
            <h2 style="text-align:center; color:red">Kanal Tedavisinin Aşamaları Nelerdir?</h2>            <br />


        </div>

        <div>
            <h4><strong>Koruyucu Ortodontik Tedavi </strong>  </h4>
            <br />
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    Lokal anestezi ile diş ve çevre dokuların uyuşturulması,
                </li>
                <li class="list-group-item">
                    Çürük ve enfekte yapıların temizlenerek kök kanallarına giriş yapılması,
                </li>
                <li class="list-group-item">
                    Kök kanal uzunluğunun apeks bulucu cihazlarla ve radyografi ile tespit edilmesi,
                </li>
                <li class="list-group-item">
                    El aletleri ve döner aletler kullanılarak kök kanallarının şekillendirilmesi,
                </li>
                <li class="list-group-item">Enfekte mikroorganizmaların kanal içi dezenfektanlar kullanılarak uzaklaştırılması, </li>
                <li class="list-group-item">
                    Kök kanallarının doldurulması ve üst kısmının restore edilmesi.
                    </li>

            </ul>

            <br />

        </div>

    </div>




</div>
