
@{
    ViewBag.Title = "Implantoloji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Oral İmplantoloji

                </h1>
                <p class="text-white link-nav">
                    <a href="/Home/Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Service/Implantoloji">
                        Oral İmplantoloji
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-12">

    <div>
        <br />
        <h1 style="color:red; text-align:center">
            Oral İmplantoloji
        </h1>
        <br />
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">
                    İmplantlar Hangi Durumlarda Uygulanmaktadır?
                </strong>


            </h3>
            <br />

            <p>İmplantlar tek diş eksikliklerinde, tek veya çift tarafında arka dişlerini kaybetmiş hastalarda, az sayıda kalmış doğal dişlere destek olmak amacı ile ve tüm doğal dişlerini kaybetmiş hastalarda uygulanmaktadır.</p>
            <hr />

           
            

          
            

        </div>
    </div>
    <div class="col-lg-6">

        <h3>
            <strong style="color:black">
                Neden İmplant Yaptırmalıyım?
            </strong>
        </h3>
        <br />

        <div>
            <p>
                İmplant tedavisinin en büyük avantajı, implantın tek başına bir yapı olmasıdır. Komşu dişlerden destek alınmadığı için herhangi bir dokuya zarar vermemektedir. Bunun yanı sıra çekim bölgelerinde zaman içerisinde gerçekleşen kemik kayıplarını da kemik dokusunu etrafında tutması sayesinde engellemektedir.
            </p>
        </div>


    </div>
    <br /><br />
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">

                    İmplant Operasyonundan Sonra Bilmem Gerekenler Nelerdir?
                </strong>
            </h3>
            <br />
            <div>
                <p>
                    İmplant tedavisi, genellikle lokal anestezi altında yeterli kemik dokusunun bulunduğu bölgeye titanyum vidanın yerleştirilmesi işlemi ile başlamaktadır. İmplant yerleşme işlemi yapılacak implant sayısına, çene kemiğinin durumuna göre yarım saat ile birkaç saat arasında değişkenlik gösterebilmektedir.

                </p>

            </div>

            <br />

        </div>
    </div>



    <div class="col-lg-12">
        <div>
            <h2 style="text-align:center; color:red">Implant Operasyonu</h2>            <br />


        </div>

        <div>
            <h4><strong>CERRAHİ İŞLEM SONRASI DİKKAT ETMENİZ GEREKENLER: </strong>  </h4>
            <br />

            <ul class="list-group list-group-flush">

                <li class="list-group-item">- İlgili bölge üzerine konan tampon 1 saat ağızda tutulmalı, tampon değiştirilmemeli ve süre bitiminde aksi söylenmedikçe tekrar tampon konulmamalı,</li>
                <li class="list-group-item">- İşlemden itibaren sık sık tükürmekten kaçınılmalı,</li>
                <li class="list-group-item">- Operasyonu takiben 2 saat bir şey yenilip içilmemeli (verilen ilaçlar hariç). 2 saat bitimini takiben hekiminizin uygun gördüğü şekilde ilk gün ve takibi günlerde ılık ve yumuşak gıdalar tercih edilmeli,</li>
                <li class="list-group-item">- Hiçbir şekilde ilgili bölgeye dokunulmamalı, hekiminizin size önerdiği şekilde ilgili bölge temiz tutulmalı ve bölgeye gıda artıklarının birikmesi önlenmelidir,</li>
               
                <li class="list-group-item">-  Reçete yazıldı ise tarif edildiği şekilde düzenli kullanılmalıdır.</li>
            </ul>
            <br />
            
            
            
            
            
           
            
        </div>

    </div>




</div>
