
@{
    ViewBag.Title = "Ortodonti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Ortodonti Ünitesi
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Service/Ortodonti"> Ortodonti</a></p>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-12">

    <div>
        <br />
        <h1 style="color:red; text-align:center">Ortodonti Ünitesi</h1>
        <br />
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">
                    Ortodontik Bozukluklar Neden Oluşur?
                </strong>


            </h3>
            <br />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">- Kalıtsal etkenlere bağlı,</li>
                <li class="list-group-item">- Doğumsal anomaliler (dudak, damak yarığı gibi),</li>
                <li class="list-group-item">- Hatalı fonksiyonlar (ağız solunumu gibi),</li>
                <li class="list-group-item">- Zararlı alışkanlıklar (parmak emme, uzun süre emzik kullanma gibi),</li>
                <li class="list-group-item">        - Çürük nedeniyle süt dişlerinin erken kaybedilmesi,</li>
                <li class="list-group-item">  - Diş gıcırdatma veya düşme, çarpma gibi travmalar.</li>
            </ul>
            <hr />




        </div>
    </div>
    <div class="col-lg-6">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <h3>
            <strong style="color:black">
                Ortodontik Bozukluklar Neden Tedavi Edilmelidir?
            </strong>
        </h3>
        <br />

        <div>
            <p>
                Düzgün diş ve çeneler iyi bir yüz estetiğinin, güzel bir gülümsemenin ayrılmaz parçasıdır. Bu sebeple çene eklem bozuklukları, diş yapısı ve yüz bölgesindeki bozukluğu estetik açıdan toparlanması amacıyla tedavi edilmelidir. Aynı zamanda;
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                - Kişinin etkin şekilde besinleri ısırabilip, çiğnemesi ve konuşmasına yardımcı olmaktadır.
            </li>
            <li class="list-group-item">
                - Dişeti hastalıklarına ve çürüğe yatkınlığı azaltmakta, sağlıklı diş ve dişetlerine katkıda  bulunmaktadır.
            </li>
            <li class="list-group-item">
                - Çene eklemi bozuklukları gibi fonksiyonel sorunların oluşumunu azaltmakta, bu bozuklukların tedavisinin önemli bir parçasını oluşturmaktadır.
            </li>

        </ul>

    </div>
    <div class="col-lg-6">
        <div>
            <h3>
                <strong style="color:black">

                    Ortodontik Muayene Ne Zaman Yapılmalıdır?
                </strong>
            </h3>
            <br />
            <div>
                <p>
                    Ortodontik tedavi her yaşta uygulanabilir. Ancak özellikle çene bölgesini ilgilendiren sorunlar varsa, büyüme ve gelişimden de yararlanabilmek için çocukların tam buluğ çağına girmeden önce (10-12 yaş) muayeneye edilmeleri gerekmektedir.

                </p>
                <p>

                    5-6 yaşlarındaki çocuklarda ise büyüme ve gelişimi bozabilecek sorunların erkenden saptanabilmesi için ortodontik muayene çok yararlıdır.
                </p>
            </div>

            <br />

        </div>
    </div>

    <div class="col-lg-12">
        <div>
            <h2 style="text-align:center; color:red">Tedavi Çeşitleri</h2>

        </div>

        <div>
            <h4><strong>Koruyucu Ortodontik Tedavi </strong>  </h4>
            <p>
                Bu tedavilerde amaç, daimi dişlerin düzgün sürebilmeleri için yeterli yeri hazırlamaktır. Bu amaçla erken kaybedilen süt dişlerinin yerini koruyan yer tutucular hazırlanmaktadır. Ayrıca diş çürüklerine yatkın çocukların pedodontist tarafından takibi önerilmektedir.
            </p>
            <br />

        </div>
        <div>
            <h4>
                <strong>
                    Önleyici Ortodontik Tedavi
                </strong>
            </h4>
            <p>
                Kötü alışkanlıklar olarak sıralayabileceğimiz parmak emme, anormal yutkunma gibi faktörlere bağlı gelişebilecek problemleri önlemek veya daimi dişlere yer kazanmak amacıyla çeşitli hareketli aygıtlar hazırlanabilmektedir.
            </p>
            <br />

        </div>
        <div>
            <h4><strong>Sabit Ortodontik Tedavi </strong>  </h4>
            <p>
                Daimi dişler sürdükten sonra ortodontik tedavi artık dişlerin üzerine yapışan ve tedavi süresince çıkarılmayan braketler ve bu braketlerin içinden geçen tellerle yapılmaktadır. Bazı diş bozuklukları ise dişlerin iç yüzeylerine braket uygulanmasına izin vermekte, böylece tamamen görünmez olabilmektedir (Lingual Ortodonti). Sabit ortodontik tedavi sağlıklı diş ve dişetlerine sahip her yaştaki hastaya uygulanabilmektedir. Tedavi ile elde edilen sonuçların korunması için çeşitli pasif aygıt ve dışarıdan görünmeyen tellerle uzun süreli pekiştirme gerektirir.
            </p>
            <br />

        </div>
    </div>




</div>
















