
@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Doktorlarımız
                    </h1>
                    <p class="text-white link-nav"><a href="/Home/Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Home/Doctors"> Doktorlarımız</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- End home-about Area -->
    <!-- Start team Area -->
    <section class="team-area section-gap" id="team">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Doktorlarımız</h1>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/dentist/img/t1.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <p>
                                Endodonti Uzmanı
                            </p>
                            <h4>Berk Çöven</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/dentist/img/t2.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <p>
                                Ortodonti Uzmanı
                            </p>
                            <h4>Fatma Solmaz</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/dentist/img/t3.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <p>
                                Pedodonti Uzmanı
                            </p>
                            <h4>Oğuz Köse</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/dentist/img/t4.jpg" alt="">
                        <div class="align-items-end justify-content-center d-flex">
                            <p>
                                Periodontoloji Uzmanı
                            </p>
                            <h4>Ayşe Fatma</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team Area -->
    <!-- Start appoinment Area -->
    <!-- End appoinment Area -->
    <!-- Start testomial Area -->
    <section class="testomial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Gerçek Hastalarımızın Yorumları</h1>
                        <p>Sizin yorumlarınıza değer veriyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-testimonial-carusel">
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/dentist/img/t1.png" alt="">
                        <p class="desc">
                            Güler yüzü, hızlı ve hassas çalışmasıyla gönülden tavsiye ediyorum. Ameliyat sonrası gayet rahat bir şekilde hayatıma devam ettim. Sorunumu bu kadar kolay çözdüğü için teşekkür ediyorum.
                        </p>
                        <h4>Dilara Ç.</h4>

                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/dentist/img/t2.png" alt="">
                        <p class="desc">
                            ok memnunum doktor hanımdan, diş dolgularımı ve diş çekimlerimi birkaç seansta acıtmadan bitirdi ve protez tedavisi aşamasına geçtik. Tekrar çok teşekkürler.
                        </p>
                        <h4>Zeynep A.</h4>

                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/dentist/img/t3.png" alt="">
                        <p class="desc">
                            Diş sorunlarımla ilgili çok detaylı açıklama yaparak gelecek süreçte neler yapılacağı anlatıldı. Genel olarak çok nazik ve yardımsever bir tavırla karşılaştım. Arkadaşım tavsiyesiyle gelmiştim, ben de bundan sonrası için rahatlıkla başkalarına tavsiye edeceğim.

                        </p>
                        <h4>Onur E.</h4>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End testomial Area -->
    <!-- start footer Area -->
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>
